body {
    font-family: Arial, sans-serif;
    background-color: #EFECE7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 40px;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
}

.con {
    background-image: url('../assets/images/forget_bg.png');
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    font-size: 2em;
    color: #4A362A;
    margin-bottom: 20px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: none;
}

input[type="email"],
input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="button"],
button[type="submit"] {
    background-color: #fff;
    border: 1px solid #4a362a;
    padding: 10px 20px;
    border-radius: 4px;
    color: #4a362a;
    cursor: pointer;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #7B614A;
}

.verify-button {
    margin-top: 20px;
    width: 120px;
    padding: 10px;
}

.info-text {
    color: #3F2305;
    margin-top: 20px; 
    margin-left: -100px;
    padding: 0 120px;
    font-size: 16px;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #4A362A;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

button.send-button {
    margin-left: 10px;
}

